{% extends 'base.html' %}


{% block title %}
    ABOUT
{% endblock title %}


{% block body %}
<div class="container-fluid mb-3 my-5"> 
<main class="container my-4">
    <div class="bg-light p-5 rounded">
      <h1>Bharath Blogs</h1>
      <p class="lead">This is a blog page created by Bharath. I have used Flask and Bootstrap for this and worked my ass off.</p>
      <a class="btn btn-lg btn-success bg-gradient" href={{ url_for('home') }} role="button">Go back to Home &raquo;</a>
    </div>
  </main>
</div>
{% endblock body %}